.contact_container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.conatct-info h1 {
  font-size: 5rem;
}

.conatct-info h1::before {
  content: 'Contact';
  position: absolute;
  z-index: -1;
  color: rgb(197, 197, 197);
  margin-top: -10px;
  transform: rotate(-90deg);
  left: 10%;
  white-space: nowrap;

  font-size: 5rem;
}

.conatct-info h1::after {
  content: 'Contact';
  position: absolute;
  z-index: -1;
  color: rgb(197, 197, 197);
  margin-top: 100px;
  transform: rotate(-90deg);
  left: 50%;
  white-space: nowrap;

  font-size: 10rem;
}

.conatct-info h2 {
  color: var(--primary-color);
  font-size: 3rem;
}

@media screen and (max-width: 650px) {
  .contact_container {
    display: grid;
    place-items: center;
  }

  .conatct-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .conatct-info h1 {
    font-size: 3rem;
    word-break: normal;
  }

  .conatct-info h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
  }

  .conatct-info h1::after {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .contact_container {
    display: grid;
    place-items: center;
  }

  .conatct-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .conatct-info h1 {
    font-size: 2.5rem;
    word-break: break-word;
  }

  .conatct-info h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
  }

  .conatct-info h1::after {
    display: none;
  }
}
